# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ROS workspace directories & configation files
build/*
devel/*
src/CMakeLists.txt
.catkin_workspace

# Local dir
src/graphs/*
src/data.local/*

# temporary vim files
*~

# pycharm files
.idea/*
*.pyc

# qtcreator
*.user
*.json
.excludes
